<html>

<head>
    {%if DEBUG%}
    <!-- <script src="https://cdn.bootcss.com/jquery/3.4.1/core.js"></script> -->
    <script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.js"></script>
    <script src="https://cdn.bootcss.com/vue/2.6.10/vue.js"></script>
    <link href="https://cdn.bootcss.com/semantic-ui/2.4.1/semantic.css" rel="stylesheet">
    <script src="https://cdn.bootcss.com/semantic-ui/2.4.1/semantic.js"></script>
    <script src="https://cdn.bootcss.com/socket.io/2.2.0/socket.io.js"></script>
    <script src="https://cdn.bootcss.com/blueimp-md5/2.10.0/js/md5.js"></script>
    {%else%}
    <script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/vue/2.6.10/vue.min.js"></script>
    <script src="//cdn.staticfile.org/semantic-ui/2.3.3/semantic.min.js"></script>
    <link href="//cdn.staticfile.org/semantic-ui/2.3.3/semantic.min.css" rel="stylesheet">
    <script src="https://cdn.bootcss.com/socket.io/2.2.0/socket.io.dev.js"></script>
    <script src="https://cdn.bootcss.com/blueimp-md5/2.10.0/js/md5.min.js"></script>
    {%endif%}
    {%block head%}{%endblock%}
    <title>
        {%block title%}{%endblock%}
    </title>
    <script>
        const md5WithSalt = function (str) {
            return md5(md5(str) + "{{SALT}}");
        }
        const showErrorModal = function (text, title = "错误") {
            $("#global-error-header").text(title)
            $("#global-error-text").text(text);
            $("#global-error-model").modal("show");
        };
        $.ajaxSetup({
            beforeSend: function (xhr, settings) {
                xhr.setRequestHeader("X-CSRFtoken", "{{csrf_token()}}")
            }, error: function (xhr, status, err) {
                showErrorModal(xhr.responseText, xhr.status + " " + err);
            }
        });
    </script>
</head>

<body style="background-color: rgb(236, 233, 233)">

    <div class="ui main container" style="margin-top:70px;margin-bottom:70px">
        {%block body%}{%endblock%}
    </div>
    <div class="ui tiny modal" id="global-error-model">
        <div class="ui header">
            发生错误
        </div>
        <div class="content">
            <div class="ui error message">
                <div class="ui header">
                    <h3 id="global-error-header"></h3>
                </div>
                <p id="global-error-text"></p>
            </div>
        </div>
        <div class="actions">
            <div class="ui green approve button">关闭</div>
        </div>
    </div>
</body>

</html>